# Updated for board/Rev5 tag
# Sorted with `sort -V`

set_io ice_img_clk16mhz                 C11
set_io ice_led[0]                       A10
set_io ice_led[1]                       A11
set_io ice_led[2]                       C9
set_io ice_led[3]                       B11
set_io ice_msp_spi_clk                  K2
set_io ice_msp_spi_data                 K3
set_io ice_stm_spi_clk                  L10
set_io ice_stm_spi_cs_                  K10
set_io ice_stm_spi_d[0]                 L8
set_io ice_stm_spi_d[1]                 L7
set_io ice_stm_spi_d[2]                 K6
set_io ice_stm_spi_d[3]                 K7
set_io ice_stm_spi_d[4]                 J9
set_io ice_stm_spi_d[5]                 K9
set_io ice_stm_spi_d[6]                 J7
set_io ice_stm_spi_d[7]                 J8
set_io ice_stm_spi_d_ready              L5
set_io img_dclk                         F11
set_io img_d[0]                         D9
set_io img_d[1]                         D10
set_io img_d[2]                         G11
set_io img_d[3]                         G9
set_io img_d[4]                         E9
set_io img_d[5]                         K11
set_io img_d[6]                         F9
set_io img_d[7]                         G8
set_io img_d[8]                         J10
set_io img_d[9]                         J11
set_io img_d[10]                        H11
set_io img_d[11]                        H10
set_io img_fv                           E11
set_io img_lv                           E10
set_io img_rst_                         D11
set_io img_sclk                         G10
set_io img_sdata                        F10
set_io ram_a[0]                         D5
set_io ram_a[1]                         B3
set_io ram_a[2]                         B2
set_io ram_a[3]                         A1
set_io ram_a[4]                         B1
set_io ram_a[5]                         C2
set_io ram_a[6]                         C4
set_io ram_a[7]                         D2
set_io ram_a[8]                         C1
set_io ram_a[9]                         C3
set_io ram_a[10]                        A2
set_io ram_a[11]                        D1
set_io ram_ba[0]                        C7
set_io ram_ba[1]                        B4
set_io ram_cas_                         D7
set_io ram_cke                          D3
set_io ram_clk                          E1
set_io ram_cs_                          A3
set_io ram_dqm[0]                       B6
set_io ram_dqm[1]                       E2
set_io ram_dq[0]                        A9
set_io ram_dq[1]                        A8
set_io ram_dq[2]                        B9
set_io ram_dq[3]                        A7
set_io ram_dq[4]                        B8
set_io ram_dq[5]                        A6
set_io ram_dq[6]                        B7
set_io ram_dq[7]                        A5
set_io ram_dq[8]                        F2
set_io ram_dq[9]                        G2
set_io ram_dq[10]                       F1
set_io ram_dq[11]                       H2
set_io ram_dq[12]                       G1
set_io ram_dq[13]                       J2
set_io ram_dq[14]                       H1
set_io ram_dq[15]                       J1
set_io ram_ras_                         B5
set_io ram_we_                          A4
set_io sd_clk                           L3
set_io sd_cmd                           K4
set_io sd_dat[0]                        L2
set_io sd_dat[1]                        L1
set_io sd_dat[2]                        K5
set_io sd_dat[3]                        L4
set_io sd_pullup_1v8_en_                J3
