set_io clk12mhz     21
set_io ledRed       99
set_io ledGreen     95

set_io sdram_a[4]   44      # 29
set_io sdram_a[5]   45      # 30
set_io sdram_a[6]   47      # 31
set_io sdram_a[7]   48      # 32
set_io sdram_a[8]   56      # 33
set_io sdram_a[9]   60      # 34
set_io sdram_a[10]  61      # 22
set_io sdram_a[11]  62      # 35

set_io sdram_dq[0]  119     # 2
set_io sdram_dq[1]  118     # 4
set_io sdram_dq[2]  117     # 5
set_io sdram_dq[3]  116     # 7
set_io sdram_dq[4]  115     # 8
set_io sdram_dq[5]  114     # 10
set_io sdram_dq[6]  113     # 11
set_io sdram_dq[7]  112     # 13

set_io sdram_clk    78      # 38        J2.1
set_io sdram_cke    79      # 37        J2.2
set_io sdram_ras_   80      # 18        J2.3
set_io sdram_cas_   81      # 17        J2.4
set_io sdram_we_    87      # 16        J2.7
set_io sdram_dqm    88      # 15+39     J2.8

set_io RS232_Rx_TTL 9
set_io RS232_Tx_TTL 8