[submodule "pcb/EagleLibrary"]
	path = PCB/EagleLibrary
	url = git@github.com:davekeck/EagleLibrary.git
[submodule "Tools/icestorm"]
	path = Tools/icestorm
	url = git@github.com:davekeck/icestorm-MDC.git
