[submodule "pcb/EagleLibrary"]
	path = PCB/EagleLibrary
	url = git@github.com:davekeck/EagleLibrary.git
[submodule "Tools/icestorm"]
	path = Tools/icestorm
	url = git@github.com:davekeck/icestorm-MDC.git
[submodule "Code/Lib/Toastbox"]
	path = Code/Lib/Toastbox
	url = git@github.com:heytoaster/Toastbox.git
[submodule "Tools/yosys"]
	path = Tools/yosys
	url = git@github.com:davekeck/yosys-MDC.git
[submodule "Tools/nextpnr"]
	path = Tools/nextpnr
	url = git@github.com:davekeck/nextpnr-MDC.git
[submodule "Code/Lib/date"]
	path = Code/Lib/date
	url = git@github.com:heytoaster/date-MDC.git
[submodule "Code/Lib/bc7enc_rdo"]
	path = Code/Lib/bc7enc_rdo
	url = git@github.com:heytoaster/bc7enc_rdo-MDC.git
