[submodule "pcb/EagleLibrary"]
	path = EagleLibrary
	url = git@github.com:davekeck/EagleLibrary.git
[submodule "tools/icestorm"]
	path = tools/icestorm
	url = git@github.com:davekeck/icestorm-MDC.git
