set_io clk12mhz     J3      -pullup no
set_io led[7]       C3      -pullup no
set_io led[6]       B3      -pullup no
set_io led[5]       C4      -pullup no
set_io led[4]       C5      -pullup no
set_io led[3]       A1      -pullup no
set_io led[2]       A2      -pullup no
set_io led[1]       B4      -pullup no
set_io led[0]       B5      -pullup no

set_io wclk         C16     -pullup no
set_io w            D16     -pullup no

set_io wd[11]       E16     -pullup no
set_io wd[10]       F16     -pullup no
set_io wd[9]        G16     -pullup no
set_io wd[8]        H16     -pullup no
set_io wd[7]        J15     -pullup no
set_io wd[6]        G14     -pullup no
set_io wd[5]        K14     -pullup no
set_io wd[4]        K15     -pullup no
set_io wd[3]        M16     -pullup no
set_io wd[2]        N16     -pullup no
set_io wd[1]        P16     -pullup no
set_io wd[0]        R15     -pullup no
