set_io clk12mhz     J3
set_io led          B5

set_io wclk         C16
set_io w            D16

set_io wd[11]       E16
set_io wd[10]       F16
set_io wd[9]        G16
set_io wd[8]        H16
set_io wd[7]        J15
set_io wd[6]        G14
set_io wd[5]        K14
set_io wd[4]        K15
set_io wd[3]        M16
set_io wd[2]        N16
set_io wd[1]        P16
set_io wd[0]        R15
