set_io clk12mhz     J3      -pullup no
set_io led          B5      -pullup no

set_io wclk         C16     -pullup no
set_io w            D16     -pullup no

set_io wd[11]       E16     -pullup no
set_io wd[10]       F16     -pullup no
set_io wd[9]        G16     -pullup no
set_io wd[8]        H16     -pullup no
set_io wd[7]        J15     -pullup no
set_io wd[6]        G14     -pullup no
set_io wd[5]        K14     -pullup no
set_io wd[4]        K15     -pullup no
set_io wd[3]        M16     -pullup no
set_io wd[2]        N16     -pullup no
set_io wd[1]        P16     -pullup no
set_io wd[0]        R15     -pullup no
