set_io clk12mhz     21

set_io wclk         119
set_io w            118

set_io wd[11]       117
set_io wd[10]       116
set_io wd[9]        115
set_io wd[8]        114
set_io wd[7]        113
set_io wd[6]        112
set_io wd[5]        44
set_io wd[4]        45
set_io wd[3]        47
set_io wd[2]        48
set_io wd[1]        56
set_io wd[0]        60
