set_io clk12mhz     J3      # 
set_io ledRed       B5      # 
set_io ledGreen             # 

set_io sdram_clk            # 
set_io sdram_cke            # 

set_io sdram_ba[1]          # 
set_io sdram_ba[0]          # 

set_io sdram_a[11]          # 
set_io sdram_a[10]          # 
set_io sdram_a[9]           # 
set_io sdram_a[8]           # 
set_io sdram_a[7]           # 
set_io sdram_a[6]           # 
set_io sdram_a[5]           # 
set_io sdram_a[4]           # 
set_io sdram_a[3]           # 
set_io sdram_a[2]           # 
set_io sdram_a[1]           # 
set_io sdram_a[0]           # 

set_io sdram_cs_            # 
set_io sdram_ras_           # 
set_io sdram_cas_           # 
set_io sdram_we_            # 
set_io sdram_udqm           # 
set_io sdram_ldqm           # 

set_io sdram_dq[15]         # 
set_io sdram_dq[14]         # 
set_io sdram_dq[13]         # 
set_io sdram_dq[12]         # 
set_io sdram_dq[11]         # 
set_io sdram_dq[10]         # 
set_io sdram_dq[9]          # 
set_io sdram_dq[8]          # 
set_io sdram_dq[7]          # 
set_io sdram_dq[6]          # 
set_io sdram_dq[5]          # 
set_io sdram_dq[4]          # 
set_io sdram_dq[3]          # 
set_io sdram_dq[2]          # 
set_io sdram_dq[1]          # 
set_io sdram_dq[0]          # 
