set_io clk              21
set_io rst              20

set_io sdram_clk        73
set_io sdram_cke        74
set_io sdram_cs_        75
set_io sdram_ras_       76
set_io sdram_cas_       78
set_io sdram_we_        79
set_io sdram_ldqm       80
set_io sdram_udqm       81
set_io sdram_ba[0]      87
set_io sdram_ba[1]      88
set_io sdram_a[0]       90
set_io sdram_a[1]       91
set_io sdram_a[2]       95
set_io sdram_a[3]       96
set_io sdram_a[4]       97
set_io sdram_a[5]       98
set_io sdram_a[6]       99
set_io sdram_a[7]       101
set_io sdram_a[8]       102
set_io sdram_a[9]       104
set_io sdram_a[10]      105
set_io sdram_a[11]      106

set_io sdram_dq[0]      112
set_io sdram_dq[1]      113
set_io sdram_dq[2]      114
set_io sdram_dq[3]      115
set_io sdram_dq[4]      116
set_io sdram_dq[5]      117
set_io sdram_dq[6]      118
set_io sdram_dq[7]      119
set_io sdram_dq[8]      120
set_io sdram_dq[9]      121
set_io sdram_dq[10]     122
set_io sdram_dq[11]     134
set_io sdram_dq[12]     135
set_io sdram_dq[13]     136
set_io sdram_dq[14]     137
set_io sdram_dq[15]     138
