# HX4K-BG121
set_io ice_clk12mhz     F3      -pullup no

set_io led[0]           L1      -pullup no
set_io led[1]           L2      -pullup no
set_io led[2]           K3      -pullup no
set_io led[3]           J5      -pullup no
set_io led[4]           L3      -pullup no
set_io led[5]           K4      -pullup no
set_io led[6]           L4      -pullup no
set_io led[7]           K5      -pullup no

set_io pix_clk          F11     -pullup no
set_io pix_d[0]         K11     -pullup no
set_io pix_d[1]         J10     -pullup no
set_io pix_d[2]         J11     -pullup no
set_io pix_d[3]         H10     -pullup no
set_io pix_d[4]         H11     -pullup no
set_io pix_d[5]         G10     -pullup no
set_io pix_d[6]         G11     -pullup no
set_io pix_d[7]         G9      -pullup no
set_io pix_d[8]         F10     -pullup no
set_io pix_d[9]         G8      -pullup no
set_io pix_d[10]        F9      -pullup no
set_io pix_d[11]        E10     -pullup no
set_io pix_fv           E11     -pullup no
set_io pix_lv           E9      -pullup no

set_io ram_a[0]         D5      -pullup no
set_io ram_a[1]         A3      -pullup no
set_io ram_a[2]         A2      -pullup no
set_io ram_a[3]         A1      -pullup no
set_io ram_a[4]         B1      -pullup no
set_io ram_a[5]         C2      -pullup no
set_io ram_a[6]         C4      -pullup no
set_io ram_a[7]         D2      -pullup no
set_io ram_a[8]         C1      -pullup no
set_io ram_a[9]         C3      -pullup no
set_io ram_a[10]        B2      -pullup no
set_io ram_a[11]        E2      -pullup no
# set_io ram_a[12]        D1      -pullup no
set_io ram_ba[0]        C7      -pullup no
set_io ram_ba[1]        A4      -pullup no
set_io ram_cas_         D7      -pullup no
set_io ram_cke          D3      -pullup no
set_io ram_clk          F2      -pullup no
set_io ram_cs_          B3      -pullup no
set_io ram_dq[0]        B9      -pullup no
set_io ram_dq[1]        B8      -pullup no
set_io ram_dq[2]        A9      -pullup no
set_io ram_dq[3]        B7      -pullup no
set_io ram_dq[4]        A8      -pullup no
set_io ram_dq[5]        B6      -pullup no
set_io ram_dq[6]        A7      -pullup no
set_io ram_dq[7]        B5      -pullup no
set_io ram_dq[8]        F1      -pullup no
set_io ram_dq[9]        G1      -pullup no
set_io ram_dq[10]       G2      -pullup no
set_io ram_dq[11]       H1      -pullup no
set_io ram_dq[12]       H2      -pullup no
set_io ram_dq[13]       J1      -pullup no
set_io ram_dq[14]       J2      -pullup no
set_io ram_dq[15]       K2      -pullup no
set_io ram_ldqm         A6      -pullup no
set_io ram_ras_         A5      -pullup no
set_io ram_udqm         E1      -pullup no
set_io ram_we_          B4      -pullup no





# HX4K-CB132
# set_io ice_clk12mhz     P1      -pullup no
#
# set_io led[0]           P2      -pullup no
# set_io led[1]           P3      -pullup no
# set_io led[2]           M4      -pullup no
# set_io led[3]           M3      -pullup no
# set_io led[4]           L5      -pullup no
# set_io led[5]           L4      -pullup no
# set_io led[6]           P4      -pullup no
# set_io led[7]           P5      -pullup no
#
# set_io pix_clk          G1      -pullup no
# set_io pix_d[0]         M1      -pullup no
# set_io pix_d[1]         F12     -pullup no
# set_io pix_d[2]         F11     -pullup no
# set_io pix_d[3]         E11     -pullup no
# set_io pix_d[4]         E12     -pullup no
# set_io pix_d[5]         E14     -pullup no
# set_io pix_d[6]         D14     -pullup no
# set_io pix_d[7]         C14     -pullup no
# set_io pix_d[8]         D12     -pullup no
# set_io pix_d[9]         B14     -pullup no
# set_io pix_d[10]        F14     -pullup no
# set_io pix_d[11]        G14     -pullup no
# set_io pix_fv           C12     -pullup no
# set_io pix_lv           A12     -pullup no
#
# set_io ram_a[0]         C3      -pullup no
# set_io ram_a[1]         C1      -pullup no
# set_io ram_a[2]         A1      -pullup no
# set_io ram_a[3]         E4      -pullup no
# set_io ram_a[4]         D4      -pullup no
# set_io ram_a[5]         A2      -pullup no
# set_io ram_a[6]         E1      -pullup no
# set_io ram_a[7]         D1      -pullup no
# set_io ram_a[8]         D3      -pullup no
# set_io ram_a[9]         A5      -pullup no
# set_io ram_a[10]        B1      -pullup no
# set_io ram_a[11]        F4      -pullup no
# set_io ram_ba[0]        K4      -pullup no
# set_io ram_ba[1]        K3      -pullup no
# set_io ram_cas_         G4      -pullup no
# set_io ram_cke          A3      -pullup no
# set_io ram_clk          C11     -pullup no
# set_io ram_cs_          G12     -pullup no
# set_io ram_dq[0]        A7      -pullup no
# set_io ram_dq[1]        C10     -pullup no
# set_io ram_dq[2]        A10     -pullup no
# set_io ram_dq[3]        A11     -pullup no
# set_io ram_dq[4]        D11     -pullup no
# set_io ram_dq[5]        D10     -pullup no
# set_io ram_dq[6]        D6      -pullup no
# set_io ram_dq[7]        C6      -pullup no
# set_io ram_dq[8]        D7      -pullup no
# set_io ram_dq[9]        C7      -pullup no
# set_io ram_dq[10]       C9      -pullup no
# set_io ram_dq[11]       D9      -pullup no
# set_io ram_dq[12]       H3      -pullup no
# set_io ram_dq[13]       H1      -pullup no
# set_io ram_dq[14]       G3      -pullup no
# set_io ram_dq[15]       J1      -pullup no
# set_io ram_ldqm         C4      -pullup no
# set_io ram_ras_         H4      -pullup no
# set_io ram_udqm         C5      -pullup no
# set_io ram_we_          A4      -pullup no