# Rev3 board / ICE40HX4K-BG121

set_io clk24mhz             C11     -pullup no

set_io led[0]               E3      -pullup no
set_io led[1]               F3      -pullup no
set_io led[2]               F4      -pullup no
set_io led[3]               G3      -pullup no

set_io pix_dclk             H10     -pullup no
set_io pix_d[0]             K11     -pullup no
set_io pix_d[1]             J10     -pullup no
set_io pix_d[2]             J11     -pullup no
set_io pix_d[3]             H11     -pullup no
set_io pix_d[4]             G11     -pullup no
set_io pix_d[5]             F11     -pullup no
set_io pix_d[6]             G9      -pullup no
set_io pix_d[7]             F10     -pullup no
set_io pix_d[8]             G10     -pullup no
set_io pix_d[9]             G8      -pullup no
set_io pix_d[10]            F9      -pullup no
set_io pix_d[11]            E10     -pullup no

set_io pix_fv               D11     -pullup no
set_io pix_lv               E9      -pullup no
set_io pix_rst_             E8      -pullup no
set_io pix_sclk             E11     -pullup no
set_io pix_sdata            D10     -pullup no

set_io ram_a[0]             D5      -pullup no
set_io ram_a[1]             A3      -pullup no
set_io ram_a[2]             A2      -pullup no
set_io ram_a[3]             A1      -pullup no
set_io ram_a[4]             B1      -pullup no
set_io ram_a[5]             C2      -pullup no
set_io ram_a[6]             C4      -pullup no
set_io ram_a[7]             D2      -pullup no
set_io ram_a[8]             C1      -pullup no
set_io ram_a[9]             C3      -pullup no
set_io ram_a[10]            B2      -pullup no
set_io ram_a[11]            E2      -pullup no
set_io ram_a[12]            D1      -pullup no
set_io ram_ba[0]            C7      -pullup no
set_io ram_ba[1]            A4      -pullup no
set_io ram_cas_             D7      -pullup no
set_io ram_cke              D3      -pullup no
set_io ram_clk              F2      -pullup no
set_io ram_cs_              B3      -pullup no
set_io ram_dqm[0]           A6      -pullup no
set_io ram_dqm[1]           E1      -pullup no
set_io ram_dq[0]            B9      -pullup no
set_io ram_dq[1]            B8      -pullup no
set_io ram_dq[2]            A9      -pullup no
set_io ram_dq[3]            B7      -pullup no
set_io ram_dq[4]            A8      -pullup no
set_io ram_dq[5]            B6      -pullup no    # Comment out to allow PLL to be used
set_io ram_dq[6]            A7      -pullup no
set_io ram_dq[7]            B5      -pullup no
set_io ram_dq[8]            F1      -pullup no
set_io ram_dq[9]            G1      -pullup no
set_io ram_dq[10]           G2      -pullup no
set_io ram_dq[11]           H1      -pullup no
set_io ram_dq[12]           H2      -pullup no
set_io ram_dq[13]           J1      -pullup no
set_io ram_dq[14]           J2      -pullup no
set_io ram_dq[15]           K2      -pullup no
set_io ram_ras_             A5      -pullup no
set_io ram_we_              B4      -pullup no

set_io sdcard_clk           K4      -pullup no
set_io sdcard_cmd           L3      -pullup no
set_io sdcard_dat[0]        L2      -pullup no
set_io sdcard_dat[1]        K3      -pullup no
# set_io sdcard_dat[2]        L5      -pullup no    # Comment out to allow PLL to be used
set_io sdcard_dat[3]        L4      -pullup no
set_io sdcard_init          L1      -pullup no

set_io spi_clk              L10
set_io spi_cs_              K10
set_io spi_d[0]             J9
set_io spi_d[1]             K9
set_io spi_d[2]             L7
set_io spi_d[3]             K6
set_io spi_d[4]             J7
set_io spi_d[5]             K7
set_io spi_d[6]             H7
set_io spi_d[7]             L8

set_io ctrl_clk             L10
set_io ctrl_rst             K10
set_io ctrl_di              J9
set_io ctrl_do              K9
