set_io clk12mhz         J3

set_io ram_clk          E4
set_io ram_cke          B2
set_io ram_ba[1]        F5
set_io ram_ba[0]        B1
set_io ram_a[11]        C1
set_io ram_a[10]        C2
set_io ram_a[9]         F4
set_io ram_a[8]         D2
set_io ram_a[7]         G5
set_io ram_a[6]         D1
set_io ram_a[5]         G4
set_io ram_a[4]         E3
set_io ram_a[3]         H5
set_io ram_a[2]         E2
set_io ram_a[1]         G3
set_io ram_a[0]         F3
set_io ram_cs_          H3
set_io ram_ras_         F2
set_io ram_cas_         H6
set_io ram_we_          F1
set_io ram_udqm         H4
set_io ram_ldqm         G2
set_io ram_dq[15]       J4
set_io ram_dq[14]       H2
set_io ram_dq[13]       J5
set_io ram_dq[12]       H1
set_io ram_dq[11]       J2
set_io ram_dq[10]       J1
set_io ram_dq[9]        K1
set_io ram_dq[8]        K3
set_io ram_dq[7]        L4
set_io ram_dq[6]        L1
set_io ram_dq[5]        K4
set_io ram_dq[4]        M1
set_io ram_dq[3]        L6
set_io ram_dq[2]        L3
set_io ram_dq[1]        K5
set_io ram_dq[0]        M2

set_io pix_clk          C8
set_io pix_frameValid   C14
set_io pix_lineValid    B15
set_io pix_d[11]        D13
set_io pix_d[10]        B14
set_io pix_d[9]         C12
set_io pix_d[8]         E11
set_io pix_d[7]         C13
set_io pix_d[6]         A16
set_io pix_d[5]         A15
set_io pix_d[4]         B13
set_io pix_d[3]         E10
set_io pix_d[2]         C11
set_io pix_d[1]         D11
set_io pix_d[0]         B12
