set_io d[3]         E4
set_io d[2]         B2
set_io d[1]         F5
set_io d[0]         B1
set_io q1[3]        C1
set_io q1[2]        C2
set_io q1[1]        F4
set_io q1[0]        D2
set_io q2[3]        G5
set_io q2[2]        D1
set_io q2[1]        G4
set_io q2[0]        E3
