STM32 requirements

    QUADSPI: for talking to ice40
    USB HS + PHY: for talking with host

Rev3 uses STM32F730I8K6

Will also work:
    - STM32F723xx
        - Same as the chip that Rev3 uses, but with more flash (512 KB instead of 64 KB)
        - Pinout looks exactly the same by comparing datasheets:
            - "STM32F730I8 UFBGA176 ballout (with OTG PHY HS)"
            - "STM32F723xx UFBGA176 ballout (with OTG PHY HS)"
        - LQFP100 has a USB HS PHY
        - LQFP144 has a USB HS PHY
        - LQFP176 has a USB HS PHY
        - UFBGA144 has a USB HS PHY -- pitch is .5mm (not sure if that's too small)
        - UFBGA176 has a USB HS PHY -- pitch is .65mm
        
        - STM32F723Ix -- only STM32F723xx part available with USB-HS-PHY + UFBGA176 package
            - STM32F723ICK6 -- 256 KB of Flash
            - STM32F723IEK6 -- 512 KB of Flash

