# Rev2 board / ICE40HX4K-BG121
set_io clk12mhz         C11     -pullup no

set_io debug_clk        L10     -pullup no
set_io debug_cs         K10     -pullup no
set_io debug_di         J9      -pullup no
set_io debug_do         K9      -pullup no

set_io led[0]           G3      -pullup no
set_io led[1]           F4      -pullup no
set_io led[2]           F3      -pullup no
set_io led[3]           E3      -pullup no
set_io led[4]           L4      -pullup no      # Not actually connected to anything
set_io led[5]           L5      -pullup no      # Not actually connected to anything
set_io led[6]           L7      -pullup no      # Not actually connected to anything
set_io led[7]           L8      -pullup no      # Not actually connected to anything
