# Rev2 board / ICE40HX4K-BG121
set_io clk12mhz         C11     -pullup no

set_io sd_clk           J5      -pullup no
set_io sd_cmd           K3      -pullup no
set_io sd_dat[0]        L3      -pullup no
set_io sd_dat[1]        K4      -pullup no
set_io sd_dat[2]        L1      -pullup no
set_io sd_dat[3]        L2      -pullup no

set_io ctrl_clk         L10     -pullup no
set_io ctrl_di          J9      -pullup no
set_io ctrl_do          K9      -pullup no

set_io led[0]           G3      -pullup no
set_io led[1]           F4      -pullup no
set_io led[2]           F3      -pullup no
set_io led[3]           E3      -pullup no
