set_io pix_clk          G1
set_io clk              J3

set_io pix_frameValid   E4
set_io pix_lineValid    B2
set_io pix_d[11]        F5
set_io pix_d[10]        B1
set_io pix_d[9]         C1
set_io pix_d[8]         C2
set_io pix_d[7]         F4
set_io pix_d[6]         D2
set_io pix_d[5]         G5
set_io pix_d[4]         D1
set_io pix_d[3]         G4
set_io pix_d[2]         E3
set_io pix_d[1]         H5
set_io pix_d[0]         E2
set_io q[11]            G3
set_io q[10]            F3
set_io q[9]             H3
set_io q[8]             F2
set_io q[7]             H6
set_io q[6]             F1
set_io q[5]             H4
set_io q[4]             G2
set_io q[3]             J4
set_io q[2]             H2
set_io q[1]             J5
set_io q[0]             H1
set_io qValid           J2
