set_io rclk         G1
set_io wclk         J3

set_io rrst_        E4
set_io r            B2
set_io rd[11]       F5
set_io rd[10]       B1
set_io rd[9]        C1
set_io rd[8]        C2
set_io rd[7]        F4
set_io rd[6]        D2
set_io rd[5]        G5
set_io rd[4]        D1
set_io rd[3]        G4
set_io rd[2]        E3
set_io rd[1]        H5
set_io rd[0]        E2
set_io rempty       G3
set_io wrst_        F3
set_io w            H3
set_io wd[11]       F2
set_io wd[10]       H6
set_io wd[9]        F1
set_io wd[8]        H4
set_io wd[7]        G2
set_io wd[6]        J4
set_io wd[5]        H2
set_io wd[4]        J5
set_io wd[3]        H1
set_io wd[2]        J2
set_io wd[1]        J1
set_io wd[0]        K1
set_io wfull        K3
